@charset "UTF8";

/* 1° Pequenas telas: até 500px */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    /* img {
        width: 100%;
    } */
    header section img {
        width: 100%;
    }
    main div.div_img_main {
        width: 100%;
    }
    main div.div_img_main div {
        width: 80%;
    }
    main img.img_main {
        width: 100%;
    }
    main img.img_main.img2 {
        width: 140%;
    }
    img.img_main.img2_main {
        width: 140%;
    }
    main span.span_destaque2 {
        color: rgb(255, 251, 0);
        font-size: 1.2rem;
        font-weight: 600;
    }
}