@charset "UTF8";
:root {
    --padding20px: 20px;
}
/* SELETORES GLOBAIS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
body {
    background: black;
    border-left: 2px solid #ff6804e3;
    border-bottom: 2px solid #ff6804e3;
    position: relative;
    z-index: 0;
}
h1, h2, h3, p {
    padding: 10px;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-weight: 600;
    border-top: 2px solid #ff6804e3;
}
strong {
    display: block;
    font-weight: bolder;
    text-indent: 10px;
}
ul {
    padding: 20px;
    margin: 10px;
}


    /* HEADER */
header {
    background-color: black;
    background: url(./img2/cursoemvideo-logo-branca.png) no-repeat 60% 40%/90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--padding20px);
    position: relative;
    z-index: 1;
}
header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.840);
    z-index: -1;
}
header section {
    display: flex;
    text-align: center;
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #ff6804e3;
}
header section img{
    flex-basis: 0 0 500px;
    width: 300px;
}
header div.logo {
    background: transparent url(./img2/cursoemvideo-logo-branca.png) 100% 58%/100% no-repeat;
    width: 200px;
    height: 84px;
    overflow: hidden;
    color: transparent;
    /* border-bottom: 1px solid #ff6804e3; */
}
header a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    background-color: #1C1DFB;
    width: 190px;
    height: 40px;
    padding: 8px;
    margin: 10px;
    border-radius: 22px;
    border-bottom: 1px solid #5a5af5;
    animation: 1.2s backgroundAnimado alternate infinite;
}
header a::after {
    content: "☝";
    position: relative;
    color: white;
    top: 30px;
    left: -50px;
    animation: 1.2s backgroundAnimado alternate infinite;
}
@keyframes backgroundAnimado{
    0%{
        top: 20px;
        color: white;
        box-shadow: 1px 1px 10px #5a5af5;
    }
    100%{
        top: 30px;
    }
}
header a:hover {
    background-color: rgba(0, 0, 253, 0.89);
    color: white;
    border-bottom: 1px solid white;
    transition: background .4s;
}
div.titulo_principal {
    background-color: #0CF7F8;
    color: rgb(0, 0, 170);
    padding: 0px 8px 0px 8px;
    border-bottom: 1px solid #ff6804e3;
}


    /* MAIN */
main {
    background-color: white;
    width: 94%;
    margin: 0 auto;

    /* Bordas invertidas */
    /* background-image:radial-gradient(circle at left top, black 20px, transparent .7%), 
    radial-gradient(circle at left bottom, black 20px, transparent .7%),
    radial-gradient(circle at right top, black 20px, transparent .7%),
    radial-gradient(circle at right bottom, black 20px, transparent .7%); */
}
main article {
    padding: calc(var(--padding20px) - 4px);
}
main div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
}
main marquee p {
    width: 100vmax;
}
main div.div_img_main2 {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padding20px);
    color: white;
}
main div.div_img_main2 p {
    font-weight: 500;
    font-size: 1.4rem;
    border-bottom: 2px solid #ff6804;
    border-top: none;
}
main article span.span_minute {
    background-color: blue;
    color: white;
    position: relative;
    margin: 10px;
}
main div.div_img_main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
main img.img_main{
    width: 350px;
    border: 1px solid white;
}
main p.p_destaque {
    color: white;
    font-size: 1.4em;
}
main p.p_destaque2 {
    color: white;
    font-size: 1.2em;
    text-indent: 10px;
}
main span.span_destaque {
    color: blue;
    font-size: 1rem;
    font-weight: bolder;
}
main span.span_destaque2 {
    color: rgb(255, 251, 0);
    font-size: 1.2rem;
    font-weight: 600;
}
main aside {
    border: 2px solid #ff6804;
    background: black;
    color: white;
}


    /* FOOTER */
footer {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    padding: var(--padding20px);
    margin-top: 4px;
}
footer section.footer_redessociais {
    width: 100%;
}
footer::after {
    content:"";
    position: absolute;
    top: 0;
    left: 6%;
    width: 86%;
    margin: 10px;
    background-color: red;
    border-top: 2px solid #ff6804;
}
footer img.img_footer {
    width: 200px;
}