body > h1 {
    text-align: center;
}

/* CSS media query dentro de um stylesheet */
/* @media (max-width: 255px) and (orientation: portrait){
    body {
        width: 100vw;
        text-align: center;
    }
    form {
        flex-direction: column;
    }
    div p {
        text-align: center;
    }
    input#in1 {
        margin-top: 10px;
    }
} */

body {
    width: 100vw;
    text-align: center;
}
form {
    flex-direction: column;
}
div p {
    text-align: center;
}
input#in1 {
    margin-top: 10px;
}